h1 {
    color: #07123A;
    font-family: "Helvetica";
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #505F90;
}

body{
    font-family: "Helvetica";
    background-color: #7A86AD;
}
